.about {
    text-align: center;
    font-family: 'Exo' ,sans-serif;
    font-weight: 400;
    color: #0253A1;
    margin-bottom: 1em;
    font-size: 1.5em;
    padding: 5em;
    
}

h1,p {
    margin-bottom: 1em;
}

.about a {
    text-decoration: underline;
}